[submodule "Rust-soup"]
	path = Rust-soup
	url = https://github.com/JUSTIVE/Rust-soup.git
[submodule "React-soup"]
	path = React-soup
	url = https://github.com/JUSTIVE/React-soup.git
[submodule "missing-semester-soup"]
	path = missing-semester-soup
	url = https://github.com/JUSTIVE/missing-semester-soup
[submodule "typescript-soup"]
	path = typescript-soup
	url = https://github.com/JUSTIVE/typescript-soup
