[submodule "Rust-soup"]
	path = Rust-soup
	url = https://github.com/JUSTIVE/Rust-soup.git
[submodule "React-soup"]
	path = React-soup
	url = https://github.com/JUSTIVE/React-soup.git
[submodule "missing-semester-soup"]
	path = missing-semester-soup
	url = https://github.com/JUSTIVE/missing-semester-soup
[submodule "typescript-soup"]
	path = typescript-soup
	url = https://github.com/JUSTIVE/typescript-soup
[submodule "FlowerSoup"]
	path = FlowerSoup
	url = https://github.com/JUSTIVE/FlowerSoup.git
[submodule "javascript-soup"]
	path = javascript-soup
	url = https://github.com/JUSTIVE/javascript-soup
[submodule "Rescript-soup"]
	path = Rescript-soup
	url = https://github.com/JUSTIVE/Rescript-soup.git
[submodule "GraphQL-Soup"]
	path = GraphQL-Soup
	url = https://github.com/JUSTIVE/GraphQL-Soup.git
[submodule "Purescript-Soup"]
	path = Purescript-Soup
	url = https://github.com/JUSTIVE/Purescript-Soup.git
[submodule "LambdaCalculus-Soup"]
	path = LambdaCalculus-Soup
	url = https://github.com/JUSTIVE/LambdaCalculus-Soup.git
[submodule "Ocaml-Soup"]
	path = Ocaml-Soup
	url = https://github.com/JUSTIVE/Ocaml-Soup.git
